.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #333;
  padding: 10px 25px;
}

/* LEFT SIDE LINKS */
.nav-links {
  list-style: none;
  display: flex;
  gap: 18px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.nav-links a:hover {
  text-decoration: underline;
}

/* RIGHT SIDE ICONS */
.nav-icons {
  list-style: none;
  display: flex;
  gap: 18px;
  margin: 0;
  padding: 0;
  color: white;
}

.nav-icons i {
  font-size: 18px;
  cursor: pointer;
}

.nav-icons li {
  display: flex;
  align-items: center;
  gap: 5px;
}

.advert{
  background-color: rgb(174, 174, 174);
  text-align: center;
}

.advert a{
  color: red;
  font-style: italic;
  text-decoration: none;
}

.advert a:hover{
  text-decoration: underline;
}

.dropdown-menu {
  width: 250px;
  border-radius: 3px;
}

#cartbtn{
  color: white;
  border: none;
}